# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Virtual Environment =====
venv/
env/
.env

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== OS Files =====
.DS_Store
Thumbs.db

# ===== Model Files (large) =====
*.h5
*.keras
*.zip
*.ipynb

# ===== Dataset =====
dataset/
data/
dataset2/
ISmallImageDS2/
indian_temples/
ImageDs_splits/
Intel-Image-Classification/

# ===== Uploads =====
static/uploads/

# ===== Logs =====
*.log

# ===== IDE =====
.vscode/
.idea/

# ===== Cache =====
.cache/

# ===== Misc =====
*.sqlite3

ImageDS/